*.py[co]
*.sw[pon]
*.bak
*.orig
*~
.project
.pydevproject
sqlite3.db
.sass-cache
.settings
*.log
proso_client/static/dist
Geography.egg-info
.django_cache
.ropeproject
node_modules
proso_client/templates/generated
proso_client/static/css
image/*
