<div class="progress quesions-progress">
  <div class="progress-bar" style="width: {{progress}}%;"></div>
</div>
<div id="container" class="practice-container col-lg-8 col-lg-offset-2">
  <div ng-hide="question || showSummary || error" class="loading-indicator">
  </div>
  <div ng-show="error" ng-bind="error" class="alert alert-danger">
  </div>
  <div ng-show="question != undefined && !showSummary" class="practice">
    <div class="well" ng-if="question.text|imgSrc">
      <img src="{{question.text|imgSrc}}"/>
    </div>
    <div class="question">
      <div ng-bind="question.text|stripImg"></div>
    </div>
    <div>
      <button ng-repeat="option in question.options"
        class="btn btn-lg btn-default option"
        ng-click="checkAnswer(option)"
        ng-class="{
          'btn-success': option.correct,
          'btn-danger': option.selected && !question.isTest && !option.correct,
          'block': !(option.name|imgSrc)
        }"
        ng-disabled="option.disabled">
          <img src="{{option.name|imgSrc}}" ng-if="option.name|imgSrc"//>
          <span ng-bind="option.name|stripImg"></span>
      </button>
    </div>
    <div class="pull-right" >
      <button class="btn btn-lg btn-default next {{!canNext || 'btn-primary'}}" 
              ng-click="next()" 
              ng-disabled="!canNext" >
          <i class="glyphicon glyphicon-arrow-right"></i> Další
      </button>
    </div>
  </div>
  <div ng-show="showSummary" class="summary col-lg-12">
    <div>
      <div class="progress" ng-show="summary != undefined">
        <div class="progress-bar progress-bar-success" 
             style="width: {{summary.correctlyAnsweredRatio | percent }};">
          Úspěšnost: {{summary.correctlyAnsweredRatio | percent }}
        </div>
        <div class="progress-bar progress-bar-danger" 
             style="width: {{(1 - summary.correctlyAnsweredRatio) | percent }};">
        </div>
      </div>
      <h2 ng-show="errorMessage != undefined" ng-bind="errorMessage"></h2>
      <div class="question-buttons">
        <button ng-repeat="question in summary.questions" place-label
              class="label {{!question.options[question.answered].isCorrect && 'label-danger' || 'label-success' }} ">
        </button>
      </div>
    </div>
    <br>
    <span class="pull-right" >
      <a class="btn btn-lg btn-default" 
         href="#/refreshpractice/{{part}}/{{placeType}}" >
        <i class="glyphicon glyphicon-repeat"></i> Znovu procvičovat
      </a>
      <a class="btn-continue btn btn-lg btn-default {{!showSummary || 'btn-primary'}}" 
         href="#/view/{{part}}/" >
        Přehled znalostí
      </a>
    </span>
  </div>
  <div class="clearfix"></div>
</div>
