<div id="container">
  <div ng-hide="placesTypes || error" class="loading-indicator">
  </div>
  <div ng-show="error" ng-bind="error" class="alert alert-danger">
  </div>
  <ul ng-show="placesTypes.length && (filteredTypes = (placesTypes|isTypeCategory:typeCat)).length" 
      class="thumbnails fade-show-hide"
      ng-repeat="typeCat in typeCategories">
    <div class="collapse-control"
        ng-show="filteredTypes.length > 0 && placesTypes.length > 1">
      <h2>
        {{typeCat.name}}
      </h2>
      <a href="#/practice/{{part}}/{{typeCat.slug}}" 
         class="btn btn-primary pull-right" 
         ng-hide="typeCat.hidden || filteredTypes.length == 1" >
        <i class="glyphicon glyphicon-check"></i> Procvičovat
      </a>
      <span class="btn-group pull-right">
        <a href="#/practice/{{part}}/test" 
           class="btn btn-primary" 
           ng-hide="typeCat.hidden || filteredTypes.length == 1" >
          <i class="glyphicon glyphicon-pencil"></i> Test
        </a>
        <a class="btn btn-primary" ng-click="showInfo = !showInfo">
          <i class="glyphicon glyphicon-info-sign" ></i>
        </a>
      </span>
      <div class="clearfix"></div>
      <div class="test-composition well" ng-show="showInfo">
        <button type="button" class="close" ng-click="showInfo=false;"><span
        aria-hidden="true">&times;</span><span
        class="sr-only">Close</span></button>
        <p> 
          Test tvoří <strong>25</strong> otázek za celkem <strong>50</strong> bodů. 
        </p>
        <p>
          Minimum pro úspěšné složení testu je <strong>43</strong> bodů.
        </p>
       <h4>Složení testu</h4>
        <ul>
          <li ng-repeat="type in filteredTypes">
            <strong>{{type.countInTest}}</strong>
            <ng-pluralize count="type.countInTest"
              when="{'0': '',
                     'one': ' otázka ', 
                     'few': ' otázky ', 
                     'other': ' otázek '}">
            </ng-pluralize>
            z kategorie
            <strong>{{type.name}}</strong> po
            <strong>{{type.pointsInTest}} </strong>
            <ng-pluralize count="type.pointsInTest"
              when="{ 'one': ' bodu', 
                     'few': ' bodech', 
                     'other': ' bodech'}">
            </ng-pluralize>.
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="prediction" ng-show="placesTypes.length">
        <div class="progress atooltip" title="">
          <div class="progress-bar atooltip"
            ng-class="{
              'progress-bar-danger': expectedPoints < 43,
              'progress-bar-success': expectedPoints >= 43
            }"
            title="Předpověď počtu bodů v testu"
            style="width: {{expectedPoints/50 * 100}}%">
            {{expectedPoints}}
          </div>
          <div class="goal atooltip"
            title="43 bodů - minimum pro složení testu"
            style="margin-left: {{(43-expectedPoints) * 2}}%">
          </div>
        </div>
      </div>
    </div>
    <div ng-hide="typeCat.hidden">
      <li class="type-cat-li"
          ng-repeat="type in filteredTypes"
          ng-class="{'collapsed': type.hidden}">
        <div data-toggle="collapse" 
            class="collapse-control collapse-control-inner"
            data-target="#collapse-{{type.slug}}"
            ng-click="updateMap(type)">
          <h3>
            <i class="glyphicon {{type.hidden && 'glyphicon-plus-sign' || 'glyphicon-minus-sign'}}"></i>
            {{type.name}}
          </h3>
          <a href="#/practice/{{part}}/{{type.slug}}" 
             class="btn btn-primary pull-right"  >
            <i class="glyphicon glyphicon-check"></i> Procvičovat
          </a>
          <div class="clearfix"></div>
        </div>
        <div class="map-progress" count="{{type.places.length}}"  
             skills="{{ {
               practiced:(type.places|filter:{practiced:true}).length,
               learned:(type.places|filter:{learned:true}).length
             } }}"></div>
        <div class="view-places collapse in question-buttons" id="collapse-{{type.slug}}">
          <div ng-hide="(type.places|filter:{displayed:true}).length" class="alert alert-info">
            Zde zatím nebylo nic procvičováno.
          </div>
          <button ng-repeat="question in type.places|filter:{displayed:true}"
                style="background-color: {{question.probability|probColor}};"
                place-label>
             {{question.text | stripImg}}
          </button>
          <div class="clearfix"></div>
        </div>
      </li>
    </div>
  </ul>
  <div class="clearfix"></div>
</div>
